.header__logo {
  margin-top: 45px;
  transition: opacity .3s linear;
}

.header__logo:hover {
  opacity: .6;
}

@media (max-width: 484px) {
  .header__logo {
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 27px;
    max-width: 103.74px;
  }
}