.elements__item {
  background: #FFF;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 840px) {
  .elements__item {
    max-width: 282px;
    margin: 0 auto;
  }
}