.footer__text {
  margin: 66px 0 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
}

@media (max-width: 484px) {
  .footer__text {
    font-size: 14px;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}