.page__wrap {
  background-color: #000;
  /*Сглаживание*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*Подгонка размера текста*/
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  overflow: hidden;
}