.elements__delete-button {
  all: unset;
  min-width: 18px;
  min-height: 19px;
  background: url(../../../images/trash.svg) center no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: opacity .3s linear;
  position: absolute;
  right: 20px;
  top: 20px;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
}

.elements__delete-button:hover {
  opacity: .5;
}
