.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(54, 54, 54, .7);
  margin-bottom: 40px;
}

@media (max-width: 968px) {
  .header {
    margin-right: 40px;
    margin-left: 40px;
  }
}

@media (max-width: 484px) {
  .header {
    padding-bottom: 0;
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: 0;
    max-width: 100%;
  }
}